<!-- filepath: c:\Users\Admin\Desktop\FinalProject\hotel_booking\booking_app\templates\support.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="mb-4">Support Us</h1>
    <p class="mb-4">Follow us on our social media platforms to stay updated!</p>
    <div class="d-flex justify-content-center">
      <a href="https://www.instagram.com/0samapathan/" target="_blank" class="btn btn-outline-success mx-2">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://web.facebook.com/profile.php?id=100026991231028" target="_blank" class="btn btn-outline-success mx-2">
        <i class="fab fa-facebook"></i> Facebook
      </a>
      <a href="https://www.twitter.com" target="_blank" class="btn btn-outline-success mx-2">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Leave this block empty to prevent JavaScript from being included -->
{% endblock %}